<% if (authed) {%>
	<form id="delete-account-form" action="/user/deleteuser?_mo=DELETE" method="POST"></form>
	<form id="account-form" class="form-style-1 account-form" action="/user/account" method="POST">
  <div class="form-style-1-container grid-container gap-5">
    <div class="grid-container">
      <label for="username">Username</label>
      <input type="text" name="username" value="<%- username %>">
    </div>
    <div class="grid-container">
      <label for="email">Email</label>
      <input type="email" name="email" value="<%- email %>">
    </div>
    <div class="grid-container gap-5">
      <button type="submit" id="save-account-details-change" class="button-style-1">Save Username and Email</button>
      <button type="button" id="show-change-password" class="button-style-1">Change your password</button>
    <!-- TODO finish this delete account part, and add confirmation to save details change above -->
    <!-- TODO ask for pw confirm before deletion -->
      <button form="delete-account-form" type="button" id="delete-account-button" class="button-style-1">Delete your account</button>
    </div>
    <% 
    if (messages) {
      for (const message of messages) { 
    %>
    <div><%- message %></div>
    <% 
      }
    }
    %>
  </div>
</form>

<form id="account-form-change-password" class="form-style-1 account-form hidden" action="/account/password" method="POST">
  <div class="form-style-1-container">
    <div class="grid-container col" id="change-password-inputs">
      <label>Change password</label>
      <input type="password" name="password-old" placeholder="Enter old password..." autocomplete="off" id="oldpassword">
      <input type="password" name="password-new" placeholder="Enter new password..." autocomplete="off" id="newpassword">
      <input type="password" name="password-new-confirm" placeholder="Confirm new password..." autocomplete="off" id="newpasswordconfirm">
    </div>
    <div class="flex-container centered-h">
      <button value="Change Password" id="change-password-submit" class="button-style-1" disabled>Change Password</button>
    </div>
  </div>
</form>
<script src="/script/account-form.js"></script>
<% } else { %>
NOT AUTHED
<% } %>