<div id="login-form-container">
  <form method="POST" action="/user/login" class="form-style-1" id="login-form">
    <div class="form-style-1-container grid-container gap-5">
      <div class="grid-container">
        <label for="username">Username:</label>
        <div id="login-form-validation-message-username" class="hidden validation-message-div box-style-errors"><%- config.userDetailsValidation.username.description %></div>
        <input id="login-username-input" class="login-input" type="text" name="username" placeholder="Enter username" required>
      </div>
      <div class="grid-container">
        <label for="username">Password:</label>
        <div id="login-form-validation-message-password" class="hidden validation-message-div box-style-errors"><%- config.userDetailsValidation.password.description %></div>
        <input id="login-password-input" class="login-input" type="password" name="password" placeholder="Enter password" required>
      </div>
      <div>
        <input id="login-submit" type="button" name="log-in" value="login" class="button-style-1">
      </div>
      <div style="display: flex; justify-content: center;">- or -</div>
      <div class="flex-container centered-h">
        <input type="button" id="register-button" name="log-in" value="register" class="button-style-1">
      </div>
      <script src="/script/login-form.js"></script>
    </div>
  </form>
</div>