<div class="modalInnerDiv">
  <div id="user-details">
    <div id="user-details-avatar">
      <img src="/image/defaultavatar.png">
    </div>
    <div id="user-details-info">
      <div><%- username %></div>
      <div id="user-details-actions">
        <a href="/user/account" class="button-style-1">Account</a>
        <a href="/user/logout" class="button-style-1">Log Out</a>
      </div>
    </div>
  </div>
  <div id="embedded-nav">
    <hr>
    <%- include('../partials/nav'); %>
  </div>
</div>