<div class="modal-content-div">
  <div id="user-details" class="grid-container">
    <div id="user-details-avatar-container" class="flex-container centered-h centered-v">
      <img src="/image/defaultavatar.png" id="user-details-avatar-img">
    </div>
    <div class="grid-container">
      <div><%- username %></div>
      <div id="user-details-actions" class="flex-container gap-5">
        <a href="/user/account" class="button-style-1 flex-1">Account</a>
        <a href="/user/logout" class="button-style-1 flex-1">Log Out</a>
      </div>
    </div>
  </div>
  <div id="embedded-nav">
    <hr>
    <%- include('../partials/nav'); %>
  </div>
</div>