<nav <%- authed ? '' : 'class="hidden"' %>>
  <% if (authed) { %>
  <a class="button-style-1" href="/entry/new">Add Entry</a>
  <a class="button-style-1" href="/entry/list">Moods</a>
  <a class="button-style-1" href="/entry/activity">Activites</a>
  <a class="button-style-1" href="/visual">Visualise</a>
  <% } %>
</nav>