<div id="user-details-container" hidden>
  <div id="user-details">
    <div id="user-details-avatar">
      <img src="/image/defaultavatar.png">
    </div>
    <div id="user-details-info">
      <div>MarlDaeSu</div>
      <div id="user-details-actions">
        <div>Account</div>
        <div>|</div>
        <div>
          <a href="/logout">Log Out</a>
        </div>
      </div>
    </div>
  </div>
</div>