<div id="user-details-container" hidden>
  <div id="user-details">
    <div id="user-details-avatar">
      <img src="/image/defaultavatar.png">
    </div>
    <div id="user-details-info">
      <div>MarlDaeSu</div>
      <div id="user-details-actions">
          <a href="/account"><button class="button-style-1">Account</button></a>
          <a href="/logout"><button class="button-style-1">Log Out</button></a>
      </div>
    </div>
  </div>
</div>