<%- include('partials/top.ejs') %>

<% if (updateSingleEntrySuccess === null) { %>
<%- include('forms/mood-entry-form.ejs') %>
<script src="/script/mood-entry-form.js"></script>
<% } else if (updateSingleEntrySuccess === true) { %>
    Your mood entry was updated!
<% } else { %>
    Something went wrong adding your mood entry! :(
<% } %>
</div>
<%- include('partials/bottom.ejs') %>