<%- include('partials/top.ejs') %>

<div class="mood-day">
    <div>
        Monday, 13/12/2022
    </div>
    <div class="mood-day-entry">
        <div>
            <span>Good</span>
            <span>(23:13)</span>
        </div>
        <div>
            Family [icon]
        </div>
        <div>
            <img src="/image/ex.png" width="400px" height="400px">
        </div>
    </div>

    <div class="mood-day-entry">
        <div>
            <span>Good</span>
            <span>(23:13)</span>
        </div>
        <div>
            Family [icon]
        </div>
        <div>
            <img src="/image/ex.png" width="400px" height="400px">
        </div>
    </div>
</div>

<%- include('partials/bottom.ejs') %>