<%- include('partials/top.ejs') %>

<div id="user-details-container">
  <div id="user-details">
    <div id="user-details-avatar">
        <img src="image/defaultavatar.png">
    </div>
    <div id="user-details-info">
        <div>MarlDaeSu</div>
        <div id="user-details-actions">
            <div>Account</div>
            <div>|</div>
            <div>Sign Out</div>
        </div>
    </div>
  </div>
</div>

<%- include('partials/bottom.ejs') %>