<nav <%- authed ? '' : 'class="hidden"' %>>
  <% if (authed) { %>
  <a class="button-style-1" href="/mood/new">Add Log</a>
  <a class="button-style-1" href="/mood/list">View Log</a>
  <a class="button-style-1" href="/mood/visual">Visualise</a>
  <% } %>
</nav>