<nav <%- authed ? '' : 'class="hidden"' %>>
  <% if (authed) { %>
  <a class="button-style-1" href="/mood/new">Add Entry</a>
  <a class="button-style-1" href="/mood/list">Moods</a>
  <a class="button-style-1" href="/mood/activity">Activites</a>
  <a class="button-style-1" href="/mood/visual">Visualise</a>
  <% } %>
</nav>