<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Moodr</title>
  <link href="/styles/styles.css" rel="stylesheet">
  <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"> -->
  <link rel="icon" type="image/x-icon" href="/icons/main_icon_16x16.png">
</head>

<body>

  <div id="header">
    <div class="modal-container hidden" id="hamburger-modal">
      <div class="modal">
        <div class="modal-close-button">✕</div>
        <% if (authed) { // if authenticated%>
        <%- include('../components/user-details-container') %>
        <% } else { // if not authenticated%>
        <!-- <div id="login-form-container" hidden> -->
        <%- include('../components/login-form'); %>
        <!-- </div> -->
        <% } %>
      </div>
    </div>
    <!-- TODO this link doesnt work when served from routes, eg /mood/ -->
    <div class="home-icon-link">
      <a href="/">
        <img src="/icons/main_icon_128x128.png" alt="Moodr Icon" width="32px" height="32px">
      </a>
      <!-- <img  class="theme"> -->
      <div class="theme"></div>
      <div id="title-text"><span>MOOD</span><span>r</span></div>
    </div>
    <div class="hamburger-source button-style-1" id="hamburger-container">
      <div id="hamburger" class="hamburger-source">
        <!-- <img src="/icons/hamburger-black24x24.png" class="hamburger-source"> -->
      </div>
    </div>
    <script src="/script/header.js"></script>
  </div>
  <div id="body">
    <%- include('nav') %>
    <div>