:root {
  --dark: #07689F;
  --middle: #A2D5F2;
  --light: #CEE8F6;
  --offwhite: #FAFAFA;
  --accent: #FF7E67;
}

/****************************
  FONTS
****************************/

@font-face {
  font-family: opensans;
  src: url("/fonts/OpenSans-Regular.ttf");
}

/****************************
  BASIC AND NORMALIZE
****************************/

* {
  font-family: opensans;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/****************************
 HEADER
****************************/

#header {
  background-color: var(--dark);
  padding: 10px;
  display: flex;
  align-items: center;
  border-bottom: 2px solid var(--middle);
  font-size: 1rem;
  /* box-shadow: inset 0px -20px 25px -20px white; */
}

#header a {
  color: #000000;
  text-decoration: none;
}

#header>div:not(:first-child) {
  background-color: var(--offwhite);
  margin-left: 10px;
  border-radius: 0.5rem;
  border: 2px solid var(--middle);
  padding: 10px;
  transition: background-color 0.5s ease;
}

#header>div:not(:first-child):hover {
  background-color: var(--accent);
}

#header>div:last-child {
  margin-left: auto;
}

#header>div {
  display: flex;
  align-items: center;
}

/****************************
  BODY
****************************/

#body {
  background-color: var(--offwhite);
  display: flex;
  flex-direction: row;
  flex-grow: 1;
	width: 100vw;
}

#body>* {
  margin: 10px;
}

nav {
  /* display: none; */
  width: 20%;
  background-color: red;
}

#body>div {
  background-color: bisque;
  flex-grow: 1;
}

/****************************
  FOOTER
****************************/

#footer {
  background-color: cornflowerblue;
  margin: 10px;
  /* margin-top: auto; */
}

/****************************
  CONTROLS
****************************/

.login-control {
  border: 0px; 
  background: none;
}

/****************************
  ENTRY LIST
****************************/
.mood-entry-list {
  display: grid;
  grid-template: 1fr/ 1fr;
  grid-auto-flow: row;
  justify-items: center;
}

.mood-day {
  background-color: goldenrod;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  width: 600px;
  display: flex;
  flex-direction: column;
}

.mood-day-entry {
  background-color: brown;
  margin: 5px 0px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mood-day-entry>div {
  margin: 10px 0px;
}

.mood-day-entry--mood {
  margin-top: 0px;
  display: flex;
}

.mood-day-entry--mood>span:first-child {
  font-weight: bold;
}

.mood-day-entry--mood>span:nth-last-child(2) {
  font-size: 0.75em;
}

.mood-day-entry--mood>span:last-child {
  margin-left: auto;
}

.mood-day-entry>div:last-child {
  margin-bottom: 0px;
}

.mood-day-entry--images {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.mood-day-entry--images>img {
  max-width: 100%;
}

/****************************
  GENERAL FORM
****************************/
.bigform  {
  display: grid;
  justify-content: center;
  justify-items: center;
}

.bigform .row {
  display: grid;
}

.bigform>div {
  display: grid;
  justify-content: center;
  gap: 7px;
  border: 1px solid var(--middle);
  background-color: var(--offwhite);
  padding: 10px;
  border-radius: 0.2em;
}

.bigform input[type="text"],
.bigform input[type="password"] {
  border: 1px solid black;
  padding: 2px 10px 2px 10px;
  border-radius: 0.3em
}

.bigform input[type="submit"] {
  border: 1px solid var(--middle);
  background-color: var(--light);
  border-radius: 0.2em;
  max-width: 200px;
}

.bigform input[type="submit"]:hover {
  background-color: var(--accent);
  transition: background-color 0.5s ease;
}

.bigform .submitdiv {
  display: flex;
  justify-content: center;
}

.bigform label {
  text-transform: uppercase;
  font-size: 0.8em;
  letter-spacing: 0.05em;
}

/****************************
  ENTRY FORM
****************************/
#mood-entry-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#mood-entry-notes {
  max-width: 80%;
}

.activity {
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  border-radius: 0.6rem;
  padding: 3px;
}
.activity-selection-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.activity-selection {
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
}
.activity-group {
  border: 1px solid black;
  border-radius: 5px;
  margin: 5px;
}
.activity-group-activities { 
  display: grid;
  grid-template: 1fr / repeat(4, 1fr);
  grid-auto-flow: row;
  /* justify-content: space-evenly;
  margin: 5px; */
}
.activity-group-name>img,
.activity>img {
  width: 32px;
  height: 32px;
  object-fit: contain;
}
.activity-group-name {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 5px;
}

.activity-group-name>img {
  border: 1px solid black;
  border-radius: 50%;
  margin-right: 10px;
}
.mood {
  margin: 0px 5px 0px 5px;
}

.activity.selected,
.mood.selected {
  background-color: red;
}

.mood-selection {
  display: flex;
  align-items: center;
}

.mood-selection-container {
  display: flex;
  justify-content: center;
}

.mood-name {
  display: flex;
  justify-content: center;
}