<div id="login-form-container" hidden>
  <form method="POST" action="/login" class="form-style-1">
    <div class="form-style-1-container">
      <div class="row">
        <label for="username">Username:</label>
        <input type="text" name="username" placeholder="Enter username">
      </div>
      <div class="row">
        <label for="username">Password:</label>
        <input type="password" name="password" placeholder="Enter password">
      </div>
      <div class="submitdiv">
        <input type="submit" name="log-in" value="login">
      </div>
      <input type="text" name="redirect" value="/" hidden>
    </div>
  </form>
</div>