<form method="POST" action="/endpoint">
	<select name="mood">
		<!-- Load moods from db -->
		<option>Mood 1</option>
		<option>Mood 2</option>
		<option>Mood 3</option>
		<option>Mood 4</option>
		<option>Mood 5</option>
	</select>

	<select name="activity">
		<!-- Load activities from db -->
		<option>Work</option>
		<option>Exersize</option>
	</select>

	<select name="activity-group">
		<!-- Load activity groups from db -->
		<option>Default</option>
	</select>

	<textarea></textarea>

	<input type="submit" value="Add Entry">
</form>