:root {
    /* palette */
    --color-1: #07689F;
    --color-2: #A2D5F2;
    --color-3: #CEE8F6;
    --color-4: #FAFAFA;
    --color-accent: #FF7E67;
    --color-bg-1: #f0f0f0;
    --color-bg-2: #dbdbdb;
    --text-color: #000000;
    --text-color-alt: #ffffff;
    --highlight-bg-invalid: #e7b7c1;
    --highlight-border-invalid: #f14668;
    --highlight-bg-valid: #c7f7f0;
    --highlight-border-valid: #00D1B2;

    /* Margins and padding */
    --header-height: 3.2rem;
    --footer-height: 15px;
    --button-style-1-padding: 10px;
    --nav-margin: 10px;

    /* borders */
    --general-border-radius: 0.5rem;
    --header-border-width: 2px;

    /* widths and heights */
    --button-style-1-min-width: 75px;

    /* backgrounds */
    --main-bg-img: url('../image/beach-light.jpg');
    --hamburger-img: url('../icons/hamburger-black24x24.png');

    /* transition properties for entire DOM */
    --transition: background-color 1s ease, color 1s cubic-bezier(0, 1.03, 0.25, 1), background-image 1s ease;
}



/****************************
  FONTS
****************************/

@font-face {
    font-family: opensans;
    src: url("/fonts/OpenSans-Regular.ttf");
}

@font-face {
    font-family: robotomono;
    src: url("/fonts/RobotoMono-Regular.ttf");
}

@font-face {
    font-family: bebas;
    src: url("/fonts/BebasNeue-Regular.ttf");
}

/****************************
  BASIC AND NORMALIZE
****************************/

* {
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
}

body {
    min-width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: opensans;
    overflow: visible;
    position: relative;
    color: var(--text-color);
}

.theme-change-button {
    width: 24px;
    height: 24px;
    background-image: url('../icons/moon.png');
}

#title-text {
    font-family: bebas;
    font-size: 2rem;
    margin-left: 10px;
    letter-spacing: 0.3rem;
}

#title-text>span:last-child {
    font-size: 1.5rem;
}

.hidden {
    display: none;
    visibility: hidden;
    width: 0px;
    height: 0px;
}

/****************************
 HEADER
****************************/

#header {
    position: sticky;
    top: 0;
    height: var(--header-height);
    background-color: var(--color-1);
    border-bottom: var(--header-border-width) solid var(--color-2);
    font-size: 1rem;
    z-index: 100;
}

.margin-auto-left {
    margin-left: auto;
}

#hamburger-container {
    background-color: var(--color-4);
    min-width: fit-content;
    margin-right: 10px;
    padding: calc(var(--button-style-1-padding) / 2);
    position: relative;
    flex-shrink: 1;
}

#hamburger {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-shrink: 1;
    /* margin-left: auto; */
    background-image: var(--hamburger-img);
    width: 24px;
    height: 24px;
}

#header>div:last-child {
    margin-left: auto;
}

#header>div {
    display: flex;
    align-items: center;
}

#home-link-img {
    margin-right: 10px;
    width: 32px;
    height: 32px;
}

/****************************
  BUTTON STYLES
****************************/

.button-style-1,
.button-style-2 {
    font-family: robotomono;
    font-size: 0.8rem;
    color: var(--text-color);
}

.button-style-1>a,
a.button-style-1 {
    color: var(--text-color);
    text-decoration: none;
}

.button-style-1 {
    border-radius: var(--general-border-radius);
    border: 2px solid var(--color-2);
    padding: var(--button-style-1-padding);
    background-color: var(--color-3);
    min-width: var(--button-style-1-min-width);
}

.button-style-1:hover:not(:disabled) {
    background-color: var(--color-accent);
}

.button-style-1:disabled {
    background-color: var(--text-color-alt);
    color: var(--color-bg-2)
}

.button-style-2>a,
a.button-style-2 {
    color: var(--text-color);
    text-decoration: none;
}


.button-style-2 {
    font-size: 0.7em;
    border-radius: var(--general-border-radius);
    background-color: var(--color-2);
    border: 2px solid var(--color-accent);
    padding: calc(var(--button-style-1-padding) / 2);
    margin: 0px 2px;
}

.button-style-2:hover:not(:disabled) {
    background-color: var(--color-4);
}

/****************************
  BODY + NAV
****************************/

#body {
    background-color: var(--color-4);
    position: relative;
    min-height: calc(calc(calc(100vh - var(--header-height)) - var(--footer-height)) - calc(var(--header-border-width) * 3));
    background-image: var(--main-bg-img);
    background-color: var(--color-4);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

nav {
    width: 150px;
    display: flex;
    position: sticky;
    top: calc(var(--header-height) + var(--header-border-width) + 10px);
    left: 0;
    flex-direction: column;
    gap: var(--nav-margin);
    align-self: flex-start;
    margin: var(--nav-margin);
}

#embedded-nav {
    display: flex;
    flex-direction: column;
}

#embedded-nav>nav {
    width: calc(100% - calc(var(--nav-margin) * 2));
}

#embedded-nav>hr {
    width: 95%;
    border: 0px;
    border-top: 2px solid var(--color-2);
    border-radius: var(--general-border-radius);
    /* box-sizing: content-box; */
}


/****************************
  FOOTER
****************************/

#footer {
    background-color: var(--color-1);
    color: var(--text-color);
    margin-top: auto;
    position: sticky;
    bottom: 0;
    border-top: var(--header-border-width) solid var(--color-2);
    font-size: 0.75rem;
    height: calc(var(--footer-height) + var(--header-border-width));
}

/****************************
  BOX CLASSES
****************************/

.box-style-1 {
    padding: 10px;
    background-color: var(--color-bg-1);
    border: 1px solid var(--color-bg-2);
    border-radius: var(--general-border-radius);
}

.box-style-1.medium {
    max-width: 600px;
}

.box-style-errors {
    padding: 10px;
    background-color: var(--highlight-bg-invalid);
    color: var(--text-color);
    border: 1px solid var(--highlight-border-invalid);
    border-radius: var(--general-border-radius);
    font-size: 0.75em;
}

/****************************
  FLEX CLASSES
****************************/

/* Flex Containers */

.flex-container {
    display: flex;
}

.flex-container.row {
    flex-direction: row;
}

.flex-container.col {
    flex-direction: column;
}

.flex-container.centered-h {
    justify-content: center;
}

.flex-container.centered-v {
    align-items: center;
    height: 100%;
}

.flex-container.centered-v-no-height {
    align-items: center;
}

.flex-container.flex-start-h {
    justify-content: flex-start;
}

.flex-container.flex-start-v {
    align-items: flex-start;
}

.flex-container.space-evenly-h {
    justify-content: space-evenly;
}

.flex-container.flex-grow-1 {
    flex-grow: 1;
}

.flex-container.flex-shrink-1 {
    flex-shrink: 1;
}

.flex-container.space-between-h {
    justify-content: space-between;
}

.flex-container.flex-wrap-on {
    flex-wrap: wrap;
}

/* Flex Items */

.flex-container .flex-1 {
    flex: 1;
}

/****************************
  GRID CLASSES
****************************/

.grid-container {
    display: grid;
}

.grid-container.centered-h {
    justify-content: center;
}

.grid-container.grid-start-h {
    justify-content: start;
}

.grid-container.centered-v {
    align-items: center;
}

.grid-container.grid-start-v {
    align-items: start;
}

.grid-container.grid-auto-flow-row {
    grid-auto-flow: row;
}

.grid-container.grid-auto-flow-col {
    grid-auto-flow: column;
}

/****************************
  FLEX + GRID CLASSES
****************************/

.gap-5 {
    gap: 5px;
}

.gap-10 {
    gap: 10px;
}

/****************************
  USER DETAILS PANE
****************************/

#user-details {
    grid-template: 1fr/ 20% 80%;
    padding: var(--button-style-1-padding);
    border-radius: var(--general-border-radius);
}

#user-details-avatar-container {
    box-sizing: border-box;
    border: 1px solid var(--color-1);
    border-radius: var(--general-border-radius);
    margin-right: 5px;
    background-color: var(--color-bg-1);
}

#user-details-avatar-img {
    width: 100%;
    height: 100%;
}

/****************************
  ENTRY LIST
****************************/

.mood-entry-data-label {
    position: absolute;
    top: -1.5em;
    left: 1.5em;
    border-radius: 1em 1em 0px 0px;
    background-color: var(--color-1);
    color: var(--text-color-alt);
    text-transform: uppercase;
    padding: 2px 10px;
    font-size: 0.65em;
    letter-spacing: 0.3em;
    /* min-width: 9em; */
    text-align: center;
}

.mood-entry-list {
    font-size: 0.9rem;
    grid-template: 1fr/ 1fr;
    margin: 10px;
}

.mood-day {
    margin: 10px;
    width: 90%;
    max-width: 1000px;
    border: 1px solid var(--color-bg-2);
    background-color: var(--color-bg-1);
    padding: 10px;
    border-radius: 0.5em;
    height: fit-content;
}

.entry {
    margin: 5px 0px;
    border: 1px solid var(--color-bg-2);
    background-color: var(--color-4);
    padding: 10px;
    border-radius: 0.5em;
}

.entry>div {
    /* spaces all the "rows" in an entry */
    margin: 5px 0px;
}

.entry-section {
    border: 1px solid var(--color-bg-2);
    border-radius: 0.5em;
    background-color: var(--color-bg-1);
    position: relative;
    margin-top: 15px !important;
    padding-top: 5px;
}

.entry-notes {
    padding: 10px;
}

.entry-activity-image {
    background-color: var(--color-4);
    border: 1px solid black;
    border-radius: 50%;
    padding: 5px;
    align-items: center;
    margin-left: 5px;
    height: 24px;
    width: 24px;
}

.entry-activity {
    border: 1px solid var(--color-2);
    background-color: var(--color-3);
    border-radius: 1.5em;
    margin: 5px;
    padding: 5px 15px 5px 15px;
    max-height: 2em;
}

.entry-activity-name {
    font-family: robotomono;
    font-size: 0.8em;
}

.entry-mood {
    margin-top: 0px;
}

.mood-entry-timestamp {
    font-size: 0.75em;
}

.mood-entry-controls {
    margin-left: auto;
}

.entry-images {
    grid-template: 1fr/ repeat(3, 1fr);
    gap: 10px;
    padding: 10px;
}

.entry-image {
    max-width: 95%;
    transition: transform 0.2s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

.entry-image:hover {
    transform: scale(120%);
}

/****************************
  FORM STYLES
****************************/

/* Form Style 1 */

.form-style-1 {
    /* display: grid; */
    justify-content: center;
    justify-items: center;
    margin: 1em;
}

.form-style-1-container {
    border: 1px solid var(--color-2);
    background-color: var(--color-4);
    padding: 10px;
    border-radius: var(--general-border-radius);
    position: relative;
}

.form-style-1-container>* {
    position: relative;
}

.form-style-1 .validation-message-div {
    position: absolute;
    top:0;
    bottom:0;
    left: 100%;
    right: -20em;
    z-index: 1000;
    font-size: 0.65em;
    background-color: var(--highlight-bg-invalid);
    border-radius: var(--general-border-radius);
    /* color: var(--highlight-border-invalid); */
}

.form-style-1 input[type="text"],
.form-style-1 input[type="password"],
.form-style-1 input[type="email"],
input[type="text"].form-style-1,
input[type="password"].form-style-1,
input[type="email"].form-style-1 {
    border: 1px solid var(--color-1);
    padding: 1em 2em;
    margin: 0.2em 0.2em;
}

.form-style-1 input[type="submit"]:hover:not(:disabled) {
    background-color: var(--color-accent);
}

.form-style-1 label {
    text-transform: uppercase;
    font-size: 0.8em;
    letter-spacing: 0.05em;
}

input[type="text"].form-input-validation-error,
input[type="password"].form-input-validation-error {
    border: 1px solid var(--highlight-border-invalid);
    background-color: var(--highlight-bg-invalid)
}

.form-style-1 input:focus,
input:focus.form-style-1 {
    outline: none;
}

.form-style-1 input:invalid {
    border: 1px solid var(--highlight-border-invalid);
    background-color: var(--highlight-bg-invalid);
    box-sizing: border-box;
}

.show-password-checkbox label {
    /* grid-template: 1fr/ 80% 20%; */
    margin-left: auto;
    font-size: 0.65em;
}

/* .show-password-checkbox input[type="checkbox"] {
    margin-right: auto;
} */

/* Account Form */

.account-form {
    margin-top: 10px;
}

.account-form .form-style-1-container .row {
    min-width: 320px;
}

/* Login Form */

#login-form-container {
    width: 20em;
}

#login-form-container .button-style-1 {
    width: 100%;
}

/* Registration Form */

#register-form-validation-errors-container {
    position: absolute;
    top: 0;
    bottom: 0;
    right: -100%;
    height: fit-content;
    /* width: 200px; */
}

#register-form-validation-errors {
    max-width: 200px;
    height: fit-content;
}

/* Entry Form */

#mood-entry-form {
    margin: 15px;
    background-color: var(--color-bg-1);
    border-radius: var(--general-border-radius);
    border: 2px solid var(--color-2);
    padding: 10px;
    max-width: 700px;
    min-width: 450px;
}

#mood-entry-form-submit {
    margin-top: 10px;
}

#mood-entry-notes {
    box-sizing: border-box;
    width: 100%;
    min-height: 200px;
    padding: 10px;
    margin: 10px 0px;
    border: 1px solid var(--color-bg-2);
    border-radius: var(--general-border-radius);
    resize: vertical;
    max-height: 50vh;
}

.activity {
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 5px;
    border: 1px solid var(--color-bg-2);
    border-radius: var(--general-border-radius);
    padding: 3px;
    background-color: var(--color-4);
    transition: transform 0.2s ease;
}

.activity:hover {
    background-color: var(--color-2);
    border-color: var(--color-accent);
    transform: scale(120%);
    transition: transform 0.01s ease;
    z-index: 100;
}

.activity-name {
    overflow: hidden;
    white-space: nowrap;
    font-weight: 100;
    font-family: robotomono;
    font-size: 0.7em;
}

.activity-selection {
    border: 1px solid var(--color-bg-2);
    border-radius: var(--general-border-radius);
    padding: 5px;
    background-color: var(--color-4);
    grid-template: 1fr / repeat(1, 1fr);
    min-width: 95%;
    height: fit-content;
}

.activity-group {
    border: 1px solid var(--color-3);
    background-color: var(--color-bg-1);
    border-radius: 5px;
    margin: 5px;
    height: fit-content;
}

.activity-group-activities {
    grid-template: 1fr / repeat(3, 1fr);
}

.img32x32 {
    width: 32px;
    height: 32px;
    object-fit: contain;
}

.activity-group-name {
    margin: 5px;
    font-family: robotomono;
    font-size: 0.8em;
}

.activity-group-name-img {
    border: 1px solid var(--color-bg-2);
    background-color: var(--color-4);
    border-radius: 50%;
    margin-right: 10px;
}

.valence-selection-button {
    max-width: 10em;
    text-align: center;
}

.no-activities-message {
    margin: 10px;
}

.mood {
    padding: 5px;
    border-radius: var(--general-border-radius);
    min-width: 6em;
}

.activity.selected,
.mood.selected {
    background-color: var(--color-accent);
}

.mood-selection {
    box-sizing: border-box;
    margin: 10px;
    font-size: 0.7em;

}

.mood-selection-container {
    background-color: var(--color-4);
    border: 1px solid var(--color-bg-2);
    border-radius: var(--general-border-radius);
    overflow: hidden;
}

.mood-selection-container.hidden {
    margin: 0px;
    padding: 0px;
    border: 0px;
    transform: scale(0%);
    transition: transform 0.2s ease;
}

.mood-selection-container:not(.hidden) {
    margin: 10px;
    transform: scale(100%);
    transition: transform 0.2s cubic-bezier(0, 1.38, 1, 1.23);
}

.mood-valence-button {
    background-color: var(--color-bg-2);
    padding: 2px 10px;
    border-radius: var(--general-border-radius);
    width: 20em;
}

.mood-valence-button#valence-positive.selected {
    background-color: var(--highlight-border-valid);
    color: #ffffff;
}

.mood-valence-button#valence-negative.selected {
    background-color: var(--highlight-border-invalid);
    color: #ffffff;
}

/* Form Validation */

.invalid {
    border: 1px solid var(--highlight-border-invalid) !important;
    background-color: var(--highlight-bg-invalid);
    box-sizing: border-box !important;
}

input[type="text"].valid,
input[type="password"].valid {
    border: 1px solid var(--highlight-border-valid);
    background-color: var(--highlight-bg-valid);
}

/****************************
  MODAL
****************************/

.modal-close-button {
    position: absolute;
    top: -0.5em;
    right: -0.5em;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid var(--color-bg-2);
    background-color: var(--color-bg-1);
    color: var(--color-1);
    border-radius: 1em;
    width: 1em;
    height: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
}

.modal-close-button:hover {
    background-color: var(--color-accent);
    border-color: var(--color-1);
}

.modal-container {
    background-color: rgba(94, 94, 94, 0.5);
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    z-index: 1000;
    border-radius: var(--general-border-radius);
}

.modal {
    background-color: transparent;
    position: relative;
    padding: 1em;
}

.modal-content-div {
    width: 350px;
    border: 1px solid var(--color-2);
    background-color: var(--color-4);
    border-radius: var(--general-border-radius);
}

/****************************
  CHARTS
****************************/

#chart-pane {
    border-radius: var(--general-border-radius);
    border: 1px solid var(--color-bg-2);
    background-color: var(--color-bg-1);
    margin: 10px;
    padding: 10px;
    /* height: fit-content; */
}

#chart-pane-controls {
    margin-bottom: 1em;
}

.chart-pane-button.selected {
    background-color: var(--color-1);
    color: var(--color-4)
}

#chart-container {
    /* max-height: 75vh;
    min-height: 500px; */
    width: 80%;
}

#relationship-buttons-container {
    background-color: var(--color-bg-1);
    border: 1px solid var(--color-bg-2);
}

#relationship-buttons-container>button {
    min-width: 0px;
    padding: 2px 5px;
    margin: 2px;
}

.chart-canvas {
    background-color: var(--color-bg-1);
    border: 1px solid var(--color-bg-2);
    border-radius: var(--general-border-radius);
    margin: 10px;
}

/****************************
  THEMES
****************************/

.dark {
    --color-1: rgb(92, 92, 92);
    --color-2: rgb(68, 68, 68);
    --color-3: rgb(37, 37, 37);
    --color-4: rgb(28, 28, 28);
    --color-accent: rgb(60, 73, 192);
    --color-bg-1: #1f1f1f;
    --color-bg-2: #414141;
    --text-color: #ffffff;
    --text-color-alt: #000000;
    --main-bg-img: url('../image/beach-dark.jpg');
    --hamburger-img: url('../icons/hamburger-white24x24.png')
}

.dark .theme-change-button {
    background-image: url('../icons/sun.png');
}

/****************************
  ANIMATIONS
****************************/

@keyframes shake {
    0% {
      transform: translateX(0);
    }
    20% {
      transform: translateX(-10px) rotateZ(-10deg);
    }
    40% {
      transform: translateX(10px) rotateZ(10deg);
    }
    60% {
      transform: translateX(-10px) rotateZ(-10deg);
    }
    80% {
      transform: translateX(10px) rotateZ(10deg);
    }
    100% {
      transform: translateX(0) rotateZ(0);
    }
  }
  
  .shake {
    transition: transform 1s ease;
    transform: translateX(42px) translateX(-84px) translateX(84px) translateX(-42px);
}

  .shake {
    animation: shake 0.5s;
    animation-iteration-count: 1;
  }

/****************************
  BREAKPOINTS
****************************/

@media only screen and (max-width: 350px) {

    #mood-entry-form {
        min-width: 300px !important;
    }

    .activity-group-activities {
        grid-template: 1fr / repeat(2, 1fr);
    }

    .mood-day,
    .mood-entry-list {
        margin: 0px;
    }

    .modal-content-div {
        width: 100%;
    }

    #user-details-avatar>img {
        width: 24px;
        height: 24px;
    }

    .button-style-1 {
        min-width: fit-content;
    }
}

@media only screen and (max-width: 390px) {
    .mood-selection {
        margin-left: 8px;
        margin-right: 8px;
    }
}

@media only screen and (max-width: 450px) {
    #mood-entry-form {
        min-width: unset;
        width: 90vw;
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
}

@media only screen and (max-width: 768px) {
    nav:not(#embedded-nav > nav) {
        visibility: hidden;
        display: none;
        width: 0px;
    }

    #mood-entry-notes {
        min-height: 3em;
    }

    #mood-entry-form {
        margin-left: 10px;
        margin-right: 10px;
    }

    .validation-message-div {
        position: relative !important;
        top: unset !important;
        right: unset !important;
        bottom: unset !important;
        left: unset !important;
    }
}