<%- include('partials/top.ejs') %>

<div class="flex-container centered-v centered-h col">
    <h1>500 Internal Server Error</h1>
    <div>Something has went wrong!</div>
</div>

<%- include('partials/bottom.ejs') %>