<%- include('partials/top.ejs') %>
<div class="flex-container centered-h centered-v-no-height">
<div class="box-style-1" style="text-align: center">
    <%- username %>, your account was successfully deleted.<hr>Sorry to see you go!
</div>
</div>
<%- include('partials/bottom.ejs') %>