
<%- include('partials/top.ejs') %>
<% 
if (locals.authed && authed) {
      welcomeMsg = 'Welcome back, ' + username + '.';
} else {
      welcomeMsg = 'Please register or log in to start logging your mood!';
}
%>

<div class="flex-container centered-h centered-v">
      <div class="box-style-1 medium" style="margin: 10px;">
            <b><%= welcomeMsg %></b>
            <div id="chart-intro-text" style="max-width: 700px;">
                  <p class="centered-h">Given the rising public awareness of the potential benefits of emotional
                  wellbeing, there has been growth in the use of approaches to support activities
                  aimed at recording and measuring emotional wellbeing, notably through
                  activities such as journaling, meditation and improving mindfulness.</p>
                  <p>Consequently, the bespoke website is a mood tracking website that tracks the
                  daily mood(s) of the user and records this for subsequent review in an effort to
                  facilitate insight into the user’s moods over time. The website will record the
                  user’s mood at arbitrary times throughout the day, allowing them to build a
                  mood profile over time. Additionally, the website will enable the user to
                  optionally provide some context for each mood entry by allowing the user to
                  input a possible trigger for the recorded mood. Subsequently, the website will
                  enable the user to view the changes in their moods over time and identify any
                  related context, such as the triggers that lead to positive or negative moods.</p>
                  <p>Typically, the user will access the website and start a mood logging session,
                  after which they will be prompted to enter their current mood. The user will then
                  be able to optionally enter other contextual information that contributed to their
                  current mood. Both the current mood and contextual information will then be
                  stored by the website. Such a mood logging session may be carried out one or
                  CSC7084 Web Development Assignment Specification 2022-2023
                  more times during a day. The user can view a mood list of their previously
                  recorded moods, which permits the user to add or edit contextual information,
                  or to delete an individual mood entry. At any stage, the user can also view a
                  mood summary of their recorded moods over time, providing insight into their
                  changing moods.</p>
            </div>  
      </div>
</div>

<%- include('partials/bottom.ejs') %>